<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <!-- /bootstrap -->


  <!-- css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- /css -->


  <!-- /mediaquery -->
  <link rel="stylesheet" href="assets/mediaquery/mediaquery.css">
  <!-- /mediaquery -->


  <!-- JQuery --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- /JQuery -->


  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <!-- /fontawesome -->


  <!-- google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- /google font -->

  <title>Document</title>
</head>

<body>

<div class="flex wrapper column" id="root">

  <!-- header -->
  <header>
    <section id="navbar">
      <div class="navbar flex">
        <div class="nav-left">asd</div>
        <div class="nav-center">asd</div>
        <div class="nav-right">asd</div>
      </div>
    </section>
    <section id="jumbotron">
    
    </section>

  </header>
  <!-- /header -->

  <!-- main -->
  <main>
    <section id="events" class="events flex">
      <div class="flex" v-for="(event, index) in events" :key="index">
        <img :src="events[index]" alt="" style="width: 100%;">
      </div>
    </section>
    <section id="testimonials">
      <div class="testimonials flex column">
        <div class="flex column">
          <h3>{{testimonials[counter].description}}</h3>
          <h4>{{testimonials[counter].journal}}</h4>
        </div>
  
      </div>
    </section>
    <section id="specials">
      <div class="special flex">
        <div class="special_left flex relative">
          <img src="./assets/img/specials/h1-img-7n.png" alt="">
        </div>
        <div class="special_right flex column">
          <div>
          <h2>SPECIALS*</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesent ut.</p>
          <div class="special_combo flex" v-for="(combo, index) in specials" :key="index">
            <div class="special_combo_price">
            <h3>{{combo.price}}</h3>
            </div>
            <div class="special_combo_details column">
            <h3>{{combo.title}}</h3>
            <p>{{combo.description}}</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section id="team_up">
      <div class="team_up">
        asds
      </div>
    </section>
    <section id="team_low">
      <div class="team_low flex">
      <div class="flex" v-for="(team, index) in team_low" :key="index">
        <img :src="team_low[index]" alt="" style="width: 100%;">
      </div>
      </div>
    </section>
    <section id="partners" class="flex">
      <div class="partners flex" v-for="(partner, index) in partners" :key="index">
        <img :src="partners[index]" alt="" style="width: 90%;">
      </div>
    </section>
    <section id="products" class="flex column">
      <div class="products_details flex column">
        <span>CHOOSE YOUR FLAVOUR</span>
        <h2>THE BEST PIZZA MENU IN TOWN</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In repellat sunt natus numquam ipsum reiciendis asperiores suscipit tenetur?</p>
      </div>

      <div class="products_pics flex">
        <div class="flex column" v-for="(pizza, index) in products" :key="index">
          <img :src="products[index].src" alt="" width="250px">
          <h5>{{pizza.title}}</h5>
          <h5>{{pizza.price}}</h5>
        </div>
      </div>

    </section>
    <section id="deals" class="deals flex">
      <div class="deals_left flex column">
        <div class="flex column">
        <div class="flex column">
        <span>MADE WITH LOVE</span>
        <h2>DELISH PIZZA DEALS</h2>
        </div>
        <div class="deals_events flex" v-for="(event, index) in deals" :key="index">
          <div class="flex column deals_events_date">
          <h1>{{event.day}}</h1>
          <h4>{{event.month}}</h4>
          </div>
          <div class="flex column deals_events_description">
          <h4>{{event.title}}</h4>
          <span>{{event.location}}</span>
          </div>
          
        </div>
        
        </div>

      </div>
      <div class="deals_right"></div>
    </section>
    <section id="book_table" class="flex">
      <div class="booking flex">
        <form action="">
          <input type="text" placeholder="People">
          <span>FOR</span>
          <input type="date" placeholder="Insert your date">
          <span>AT</span>
          <input type="time" placeholder="Your time">
          <input type="submit" value="BOOK A TABLE">
        </form>
      </div>
    </section>


  </main>
  <!-- /main -->


  <!-- footer -->
  <footer>

  </footer>
  <!-- /footer -->

</div>
    <!--  Vue Js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /Vue Js -->

    <!-- JS script -->
    <script type="text/javascript" src="assets/js/script.js">
    </script>
    <!-- /JS script -->


</body>

</html>
