* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
}

/* utility */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrapper {
  width: 1920px;
}

section {
  margin: 10px 0px;
}

.relative {
  position: relative;
}

li {
  display: inline;
}

.prev {
  background-color: white;
  border: 1px solid white;
  height:60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  left: -2%;
  top: 50%;
  color: black;
  cursor: pointer;
}

.next {
    background-color: white;
    border: 1px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    right: -2%;
    top: 50%;
    color: black;
    cursor: pointer;

}

.prev > span{
  position: absolute;
  right:1%;
  top: 40%;
  transform: rotate(90deg);
  font-size: 10px;
  letter-spacing: 2px;


}

 .next > span{
   position: absolute;
   left:1%;
   top: 38%;
   transform: rotate(270deg);
  font-size: 10px;
  letter-spacing: 2px;
 }

 a {
   color: inherit;
   text-decoration: none;
 }

 a:hover {
   color: inherit;
   text-decoration: none;
 }

.pizza_icon {
  position: absolute;
  padding: 15px;
  border-radius: 50%;
  background-color: #F6F7F2;
  bottom: 5%;
  right: 2%;
  cursor: pointer;
}

.circle_icon {
  position: absolute;
  width: 15px;
  height: 15px;
  padding: 30px;
  border-radius: 50%;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: #D2401E;
}

.circle_icon > span {
  color: white;
  font-size: 12px;
}

 /* color */

.orange {
  color: #D2401E;
}

.light_gray {
  color: #A6A6A6;
}

.gold {
  color: #B7903C;
}

.green {
  color: #339966;
}

 /* /color */

/* /utility */


/* HEADER */

header {
  background-color: black;
  color: white;
  background-image: url('../img/header/pizza_header_bg.jpg');
  padding-top: 10px;
}


/* navbar */
.navbar {
  padding: 0px;
  font-size: 14px;
}

.navbar-brand {
  margin-right: 0px;
}

.btn {
  border-radius: 0px;
}
.btn-warning:hover {
  background-color: #D2401E;
  border-color: #D2401E;
}

.btn-warning {
  width: 15%;
  text-align: center;
  justify-content: center;
  background-color: #D2401E;
  border-color: #D2401E;
  color: white;
  padding: 10px;
  font-size: 12px;


}

.nav-item {
  padding: 0px 20px;
}

.nav-a {
  width: 30%;
  justify-content: flex-end;
  text-align: right;
}

ul {
  list-style-type: none;
  justify-content: center;
}

.nav-b {
  width: 30%;

  justify-content: flex-start;
}

.nav-c {
  width: 20%;
  justify-content: flex-start;

}

.icons_navbar {
  width: 30px;
  display: inline;
  margin-right: 5px;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* /navbar */


/* jumbotron */

#jumbotron {
  margin: 60px 0px 120px 0px;
}

.banner {
  justify-content: center;
  margin-bottom: 100px;
  height: 400px;

}

.banner_pizza {
  position: absolute;
  width: 18%;
  transform: rotate(-5deg);
  
}

/* /jumbotron */


/* events */

.events {
  width: 100%;
  justify-content: center;
}

.events > div:first-child {
  margin: 0px 5px 0px 0px;
}

.events > div:last-child {
  margin: 0px 0px 0px 5px;
}

.events > div {
  margin: 0 5px;
}

.overlay_events {
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color:#D2401E;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

.circle i {
  color: white;
}

.overlay_events:hover .circle {
  opacity: 0.8;
  transition: 1s;
}

.overlay_events:hover img {
  opacity: 0;
  transition: 1s;
}

/* /events */



/* /HEADER */



/* MAIN */
main {
  width: 100%;
  height: 100%;
}

/* testimonials */

#testimonials {
  height: 495px;
  background-image: url('../img/testimonials/h3-testimonials-bckgrnd.jpg');
  background-size: 100% 100%;

}

.testimonials {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.testimonials > div {
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonials h1 {
  font-size: 150px;
}


/* /testimonials */



/* specials */
.special {
  width: 100%;
}

.special > div {
  width: 50%;
}

.special_left {
   background-image: url('../img/specials/h1-img-4.jpg');
  background-size:cover;
  height: 700px;
}


.special_left > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}






.special_right {
  justify-content: center;
  align-items: center;
  
}

.special_right > div {
  width: 45%;
}

.special_combo_price {
  width: 15%;
}

.special_combo_details {
  width: 85%;
}


/* /specials */


/* team_up */


.team_up {
  height: 800px;
  background-image: url('../img/team_up/h3-background-img.jpg');
  background-attachment: fixed;
  justify-content: center;
  color: white;
}

.team_up > div {
  width: 20%;
  margin-left: 350px;
}


.team_up h1 {
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 2;
}


/* /team_up */


/* /team_low */

.team_low {
  justify-content: center;
}

.overlay_team_low {

  width: 100%;
  background-color: white;
}

.overlay_team_low:hover img {
  opacity: 0;
  transition: 1s;
}

.overlay_team_low:hover .id {
  opacity: 1;
  transition: 1s;
}


.id {
  position: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  background-color: #D2401E;
}

.team_icons i{
  margin: 5px;
}


/* /team_low */


/* partners */
#partners {
  background-color: #F6F7F2;
  justify-content: center;
  padding: 80px;
}

/* /partners */

/* products */

#products {
  padding: 100px 0px;
}

.products_details {
  text-align: center;
  width: 30%;
  align-self: center;
}

.products_pics {
  justify-content: space-between;
  margin-top: 80px;
}

.products_pics > div {
  align-items: center;
  cursor: pointer;
}


/* /products */

/* deals */

.deals > div {
  width: 50%;
}

.deals_left {
  height: 700px;
  background-image: url('../img/header/pizza_header_bg.jpg');
  justify-content: center;
  align-items: center;
  color: white;
}


.deals_left > div {
  height: 80%;
  justify-content: space-evenly;
}

.deals_events {
  padding-bottom: 50px;
  border-bottom: 1px dashed #B7903C;
}

.deals_events_date > * {
  justify-content: start;
  margin: 0;
}

.deals_events_description {
  margin-left: 30px;
}

.deals_events_description > *{
  justify-content: start;
  
}


.deals_right {
  height: 800px;
  background-image: url('../img/deals/h3-img-5a.jpg');
  background-size: cover;
}

/* /deals */


/* book_table */

#book_table {
  height: 295px;
  background-image: url('../img/book_table/h3-background-img-3.jpg');
  background-size: cover;
  justify-content: center;
}


.booking {
  width: 100%;
  justify-content: center;
}

input {
  padding: 15px 20px;
  border:1px solid black;
  width: 200px;
  font-size: 12px;
  color: #B7903C;
}

input[type=submit]{
  background-color: #D2401E;
  color: white;
  border: none;

}

.booking span{
  color: white;
}

.booking form > * {
  margin: 0px 15px;
}





/* /book_table */

/* /MAIN */



/* FOOTER */
#footer > div{
  width: 50%;
  /* height: 700px; */
}

.footer_left {
  background-image: url('../img/header/pizza_header_bg.jpg');
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0px 40px 0px;
}

.footer_left > div {
  width: 90%;
}

.footer_left_top {
  justify-content: space-around;
}

.footer_left_top > div {
  width: calc(100%/3);
}

.find_restaurant > div, .working_hours > div {
  margin: 10px 0px;
}

.follow_us {
  align-items: center;

}
.follow_us > a {
  margin: 0px 10px;
}


.footer_left_bottom {
  justify-content: space-between;
  align-items: flex-end;
}


.footer_right {
  background-image: url('../img/footer/footer-img-1.jpg');
}

/* /FOOTER */