* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
}

/* utility */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrapper {
  width: 1920px;
}

section {
  margin: 10px 0px;
}

.relative {
  position: relative;
}

/* /utility */


/* HEADER */

header {
  background-color: black;
  color: white;
  background-image: url('/assets/img/header/pizza_header_bg.jpg');
}


/* navbar */
.navbar {
  justify-content: space-around;
}


/* /navbar */


/* jumbotron */

/* /jumbotron */


/* events */

.events {
  width: 100%;
  justify-content: center;
}

.events > div:first-child {
  margin: 0px 5px 0px 0px;
}

.events > div:last-child {
  margin: 0px 0px 0px 5px;
}

.events > div {
  margin: 0 5px;
}



/* /events */



/* /HEADER */



/* MAIN */
main {
  width: 100%;
  height: 100%;
}

/* testimonials */

#testimonials {
  height: 495px;
  background-image: url('../img/testimonials/h3-testimonials-bckgrnd.jpg');
  background-size: 100% 100%;

}

.testimonials {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.testimonials > div {
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* /testimonials */



/* specials */
.special {
  width: 100%;
}

.special > div {
  width: 50%;
}

.special_left {
   background-image: url('../img/specials/h1-img-4.jpg');
  background-size:cover;
  height: 700px;
}


.special_left > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}






.special_right {
  justify-content: center;
  align-items: center;
  
}

.special_right > div {
  width: 45%;
}

.special_combo_price {
  width: 15%;
}

.special_combo_details {
  width: 85%;
}


/* /specials */


/* team_up */


.team_up {
  height: 800px;
  background-image: url('../img/team_up/h3-background-img.jpg');

}


/* /team_up */


/* /team_low */

.team_low {
  justify-content: center;
}


/* /team_low */


/* partners */
#partners {
  background-color: #F6F7F2;
  justify-content: center;
  padding: 80px;
}

/* /partners */

/* products */

#products {
  padding: 100px 0px;
  /* align-items: center; */
}

.products_details {
  text-align: center;
  width: 30%;
  align-self: center;
}

.products_pics {
  justify-content: space-between;
  margin-top: 80px;
}

.products_pics > div {
  align-items: center;
}
/* /products */

/* deals */

.deals > div {
  width: 50%;
}

.deals_left {
  height: 700px;
  background-image: url('/assets/img/header/pizza_header_bg.jpg');
  justify-content: center;
  align-items: center;
  color: white;
}


.deals_left > div {
  height: 80%;
  justify-content: space-evenly;
}

.deals_events {
  padding-bottom: 50px;
  border-bottom: 1px dashed white;
}

.deals_events_date > * {
  justify-content: start;
  margin: 0;
}

.deals_events_description {
  margin-left: 30px;
}

.deals_events_description > *{
  justify-content: start;
  
}


.deals_right {
  height: 800px;
  background-image: url('/assets/img/deals/h3-img-5a.jpg');
  background-size: cover;
}

/* /deals */


/* book_table */

#book_table {
  height: 295px;
  background-image: url('/assets/img/book_table/h3-background-img-3.jpg');
  background-size: cover;
  justify-content: center;
  

}


.booking {
  width: 100%;
  justify-content: center;
}

input {
  padding: 15px 20px;
  border:1px solid black;
  width: 200px;
  font-size: 12px;
}

input[type=submit]{
  background-color: orange;
  color: white;
  border: none;

}

.booking span{
  color: white;
}

.booking form > * {
  margin: 0px 15px;
}





/* /book_table */

/* /MAIN */



/* FOOTER */
#footer > div{
  width: 50%;
  /* height: 700px; */
}

.footer_left {
  background-image: url('/assets/img/header/pizza_header_bg.jpg');
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0px 40px 0px;
}

.footer_left > div {
  width: 90%;
}

.footer_left_top {
  justify-content: space-around;
}

.footer_left_top > div {
  width: calc(100%/3);
}

.find_restaurant > div, .working_hours > div {
  margin: 10px 0px;
}

.follow_us {
  align-items: center;

}
.follow_us > i {
  margin: 0px 10px;
}


.footer_left_bottom {
  justify-content: space-between;
}


.footer_right {
  background-image: url('/assets/img/footer/footer-img-1.jpg');
}

/* /FOOTER */